In [ ]:
 ## Create a New Database and Table for Employees

CREATE DATABASE company_db;
USE company_db;
CREATE TABLE employees (
Employee_id INT PRIMARY KEY,
    First_name VARCHAR(50),
    Last_name VARCHAR(50),
    Department VARCHAR(50),
    Salary INT,
    Hire_date DATE);
   select * from employees;

   ##  Insert Data into Employees Table
    select * from employees;

INSERT INTO employees VALUES
(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15'),
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11'),
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10');
select * from employees;

## . Display All Employee Records Sorted by Salary (Lowest to Highest)
SELECT * FROM employees ORDER BY salary ASC;

## Show Employees Sorted by Department (A–Z) and Salary (High → Low)
SELECT * FROM employees ORDER BY department ASC, salary DESC;

## List All Employees in the IT Department, Ordered by Hire Date (Newest First)
SELECT * FROM employees WHERE department = 'IT' ORDER BY hiredate DESC;

##  Create and Populate a Sales Table
CREATE DATABASE SALES;
USE SALES;
CREATE TABLE SALES (
SALE_ID INT PRIMARY KEY,
CUSTOMER_NAME VARCHAR (50),
AMOUNT INT,
SALE_DATE DATE);

SELECT * FROM SALES;
INSERT INTO SALES VALUES
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25');
SELECT * FROM SALES;

## Display All Sales Records Sorted by Amount (Highest → Lowest)
SELECT * FROM sales ORDER BY amount DESC;

##  Show All Sales Made by Customer “Aditi”
SELECT * FROM sales WHERE CUSTOMER_NAME = 'Aditi';

## What is the Difference Between a Primary Key and a Foreign Key?
Primary key uniquely identifies records in a table; foreign key links to primary key in another table for referential integrity.

##  What Are Constraints in SQL and Why Are They Used?
Constraints enforce data rules like PRIMARY KEY for uniquenes, NOT NULL for required values, and FOREGIN KEY for relationships to maintain accuracy.